body {
    margin-left: auto;
	margin-right: auto;
    padding: 0;
    font-family: Arial, sans-serif;
	overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-column {
    flex: 0 0 auto;
	margin-right:auto;
	margin-left:auto;
	min-width: 160px;
}

.editor-column {
    flex: 1;
}

.focus-column {
    flex: 0 0 auto;
	margin-left: auto;
	margin-right:auto;
	min-width: 160px;

}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
	margin-right:auto;
	margin-left:auto;
	color: #444;
}

.menu-icon:hover {
    color: #D3D3D3;
}

.dark-theme .menu-icon:hover {
    color: #333;
}

.menu {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10% 25%;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
    cursor: pointer;
}

.menu li:hover {
    background-color: #D3D3D3;
}

.dark-theme .menu li:hover {
    background-color: #333;
}

.editor-container {
	margin-left: auto;
    margin-right: auto;
    width: 800px;
	height: 800px;
	overflow: hidden;
}
.focus-toggle svg {
	fill: var(--focus-icon-color); /* Use a custom CSS variable for color */
	cursor: pointer;
	margin-right:auto;
	margin-top:5px;
	margin-left:40px;
}

.focus-toggle svg:hover {
  fill: #D3D3D3;
}

.dark-theme .focus-toggle svg:hover {
  fill: #444;
}


.dark-theme {
    background-color: #222;
    color: #fff;
}

.dark-theme .menu {
    background-color: #444;
}

.file-list-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-list {
    background-color: #fff;
    padding: 40px;
    border-radius: 1px;
	min-height: 200px;
	min-width: 200px;
    max-width: 400px;
    max-height: 400px;
    overflow-y: auto;
	border-radius: 25% 10%;
}

.file-list li {
    cursor: pointer;
    padding: 10px;
	border-radius: 10px;
}

.file-list li:hover {
    background-color: #D3D3D3;
}

.dark-theme .file-list-container {
    background-color: rgba(255, 255, 255, 0.5);
}

.dark-theme .file-list {
    background-color: #444;
    color: #fff;
}

.dark-theme .file-list li:hover {
    background-color: #333;
}

.ql-toolbar {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.ql-toolbar:hover  {
    opacity: 1;
}

.ql-editor {
	padding-top: 256px; /* Adjust this value to change the top padding */
	padding-bottom: 600px; /* Adjust this value to change the bottom padding */
	overflow-y: auto;
	scroll-behavior: smooth;
}

.ql-container.ql-snow{ 
	border: none !important;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background: white;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value]::before {
  content: attr(data-value) !important;
}


/*for font-family*/

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value]::before {
  content: attr(data-value) !important;
}

.ql-snow .ql-picker.ql-font {
  width: 150px !important;
  white-space: nowrap;
}