<!DOCTYPE html>
<html>
<head>
  <title>The Writer</title>
  <script src="//cdn.quilljs.com/1.2.2/quill.min.js"></script>
  <link href="//cdn.quilljs.com/1.2.2/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/lodash.debounce@4.0.8/index.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.3.1/tinymce.min.js"></script>
  <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
  <script src="{{ url_for('static', filename='js/image-resize.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/html-docx.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/pdfmake.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/vfs_fonts.js') }}" defer></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="column menu-column">
        <div class="menu-icon">&#9776;</div>
        <div class="menu">
          <ul>
            <li id="new-file">New File</li>
            <li id="save-file">Save</li>
			<li id="save-as">Save As</li>
            <li id="load-file">Load</li>
            <li id="toggle-theme">Toggle Theme</li>
          </ul>
        </div>
      </div>
      <div class="column editor-column">
        <div class="editor-container">
          <div id="editor"></div>
        </div>
      </div>
      <div class="column focus-column">
	  <div class="focus-toggle">
	  <svg width="40" height="30" viewBox="0 0 24 24">
		<path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.27-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
	  </svg>
	</div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/menu.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>
</html>
